.Table {
	margin-left: 12em;
	margin-top: 1em;
	margin-right: 1em;
}

.table-wrapper {
	border: 1px solid white;
	width: fit-content;
}

table {
	border-collapse: collapse;
}

table tr {
	color: white;
}

table tr.even {
	background-color: #5873C1;
}

table tr.odd {
	background-color: #3756B1;
}

table th {
	background-color: #092168;
}

table th, td {
	padding: 1em;
	text-align: center;
}

th, td {
	padding: 1em;
}

td {
	cursor: pointer;
}

.toggle-row {
	font-size: 20px;
	font-weight: bolder;
}

.delete {
	font-size: 20px;
	font-weight: bolder;
	color: red;
	cursor: pointer;
}